.lista-carrito {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
}

.lista-carrito h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.lista-carrito ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.lista-carrito li {
  margin-bottom: 10px;
  color: #333;
}

.lista-carrito p {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #28a745;
}

.lista-carrito p.total {
  font-size: 1.5rem;
  color: #28a745; /* verde */
}