body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
}

header {
  background-color: #1F1F3B;
  padding: 20px 0;
  text-align: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-buttons .register {
  background-color: #4CAF50;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
}

.auth-buttons .login {
  background-color: #FF5733;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
}

store {
.error-message {
    color: red;
    background-color: #fdd;
    border: 1px solid red;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
  }

 .container {
  display: flex;
}

.left {
  flex: 1;
  padding: 0 10px; /* Espacio entre los dos elementos */
}

.right {
  flex: 1;
  padding: 0 10px; /* Espacio entre los dos elementos */
}


  .product-list {
    list-style: none;
    padding: 0;
  }

  .product-item {
    background-color: #FF5733;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
    transition: box-shadow 0.3s;
  }

  .product-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .product-price {
    font-weight: bold;
    color: #900C3F;
  }
}
lista-carrito{
.lista{
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
}

h2{
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
  color: #333;
}

p {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #28a745;
}

}

main {
  position: relative;
  text-align: center;
}

.main-image {
  width: 100%;
  height: auto;
}

.highlight-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(31, 31, 59, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.highlight-text h2,
.highlight-text h1,
.highlight-text p {
  margin: 10px 0;
} 


footer {
  background-color: #1F1F3B;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}